---
import Menu from "./svelte/Menu.svelte";
---

<header class="bg-indigo-800">
  <div class="container mx-auto bg-gray-400">
    <div class="flex flex-col items-center">
      <div>Logo</div>
      <Menu client:only="svelte"/>
    </div>
  </div>
</header>

<!-- <style>
  nav li {
    @apply py-4 bg-slate-200 w-full text-center;
  }
</style> -->
