---
import Menu from "./svelte/Menu.svelte";
import Logo from './Logo.astro';
---

<header class="bg-gradient-to-tl from-slate-500 to-violet-800">
  <div class="container mx-auto">
    <div class="flex flex-wrap items-center">
      <Logo/>
      <Menu client:only="svelte"/>
    </div>
  </div>
</header>


